{% extends "base.html.twig" %}

{% block title %}{{ "Crypto Stats - Deposit"|trans }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-md-center">
            {{ render(controller('App\\Controller\\DepositController::block')) }}
            {% include "/deposit/_price.html.twig" %}
        </div>
        <br />
        <div class="row">
            <div class="col-sm">
                {% include "/deposit/_deposit_form.html.twig" %}
            </div>
            <div class="col-sm-10">
                {% include "/deposit/_deposit_list.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}
