{% extends "base.html.twig" %}

{% block title %}{{ "Crypto Stats - Coinbase"|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            {% for item in balance|filter(item => item.amount|number_format(8) > 0) %}
                {% include "crypto/_crypto_template.html.twig" with {'exchange_path': 'crypto_trades_exchange_coinbase' } %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
