<div class="col-sm-3">
    <div class="card border-left-success shadow h-80">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        {{ "Conversion price"|trans }}
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{ dollar_and_euro_price() }}
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-sync-alt fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>
