<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="border-bottom: 1px solid rgba(147,165,25,1) !important;">
    <h5 class="my-0 mr-md-auto font-weight-normal">Crypto Stats</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <span class="p-2 text-dark">{{ title }}</span>
    </nav>
</div>

<br />
<br />
