<div class="col-sm-12 col-md-6 text-center">
    <div class="card border-left-primary shadow h-100">
        <div class="card-header">
            {{ "Wallet %"|trans }}
        </div>
        <div class="card-body">
            <div id="chartContainer"></div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            backgroundColor: "transparent",
            width: 700,
            height: 700,
            data: [{
                type: "doughnut",
                indexLabelFontSize: 20,
                indexLabel: "  {label}  ",
                indexLabelFontFamily: "Garamond",
                indexLabelFontColor: "darkgrey",
                indexLabelLineColor: "darkgrey",
                indexLabelPlacement: "outside",
                toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                dataPoints: {{ donutGlobal|json_encode|raw }}
            }]
        });
        chart.render();
    }
</script>
